{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="text-center h2 my-6">Admin panel</h1>
            </div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" href="{{ path('create_user') }}">Add user</a>
            </div>
        </div>


        <div class="table-responsive my-3">

            <div class="d-flex justify-content-between align-items-center mb-3">

                <div id="">
                    {{ knp_pagination_render(pagination) }}
                </div>

                <div class="d-flex align-items-center gap-5 mb-3">

                    <form method="get" action="{{ path('index_user') }}" class="d-flex" role="search">
                        <input name="search" value="{{ app.request.get('search') }}" id="search-input" class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort by:
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/users?sort=u.name">Name</a></li>
                            <li><a class="dropdown-item" href="/users?sort=u.surname">Surname</a></li>
                            <li><a class="dropdown-item" href="/users?sort=u.username">Username</a></li>
                            <li><a class="dropdown-item" href="/users?sort=u.id">ID</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            {% if pagination|length > 0 %}
                <div id="user-list">
                    {% include 'user/index_search.html.twig' %}
                </div>
            {% else %}
                <h5>Users not found</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}
